apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: operator-role
rules:
- apiGroups:
  - k8s.seq.datalust.co
  resources:
  - instances
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - '*'
- apiGroups:
  - events.k8s.io
  resources:
  - events
  verbs:
  - '*'
- apiGroups:
  - k8s.seq.datalust.co
  resources:
  - clients
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - get
  - list
  - create
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - '*'
- apiGroups:
  - k8s.seq.datalust.co
  resources:
  - instances/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - k8s.seq.datalust.co
  resources:
  - clients/status
  verbs:
  - get
  - update
  - patch