apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: seq-operator-role
  labels: {{- include "labels" . | nindent 4 }}
rules:
- apiGroups:
  - seq.k8s.datalust.co
  resources:
  - instances
  verbs:
  - '*'
- apiGroups:
  - seq.k8s.datalust.co
  resources:
  - signals
  - retentionpolicys
  - apikeys
  - alerts
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - secrets
  - services
  - serviceaccounts
  verbs:
  - '*'
- apiGroups:
  - events.k8s.io
  resources:
  - events
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - '*'
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - get
  - list
  - create
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - '*'
- apiGroups:
  - seq.k8s.datalust.co
  resources:
  - instances/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - seq.k8s.datalust.co
  resources:
  - signals/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - seq.k8s.datalust.co
  resources:
  - retentionpolicys/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - services/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - apps
  resources:
  - statefulsets/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - seq.k8s.datalust.co
  resources:
  - apikeys/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - seq.k8s.datalust.co
  resources:
  - alerts/status
  verbs:
  - get
  - update
  - patch


# Additional not generated
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
---
