apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: seq:edit
  labels:
    {{- include "seq-operator.labels" . | nindent 4 }}
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
rules:
- apiGroups:
  - seq.k8s.datalust.co
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
---
